#menu{
    display:none;
    padding:2px;
    background-color: #8aa9c9;
    color: white;
    position:absolute;
    z-index:999;
}

#btnCollapse{
    background-color:red;
    border: 2px solid black;
    display:none;
}

table {
    table-layout: fixed;
    width: 100px;
}
  
td,th {
    word-break:break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover{
    cursor:pointer;
    background:rgba(0, 0, 0, 0.05)
}